.layout {
  display: flex;
  min-height: 100vh;
  background: #fff;
}

.content {
  flex: 1;
  margin-left: 240px;
  padding: 40px 48px;
  max-width: 960px;
}

.heading {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 0 0 24px;
  color: #0f172a;
}
